<div class="bg-gray-100 rounded-lg p-6">
  <p class="mb-4">Olá <%= @resource.email %>!</p>
  <p class="mb-4">Este email é para confirmar que você alterou sua senha em <%= Time.now.strftime("%d/%m/%Y às %H:%M") %>.</p>
  <p class="mt-4">Obrigado,</p>
  <p><%= mailer_name.capitalize %></p>
</div>
