<div class="bg-gray-100 rounded-lg p-6">
  <p class="mb-4">Olá <%= @resource.email %>!</p>
  <p class="mb-4">Você está recebendo este email porque foi solicitada a redefinição de sua senha. Por favor, clique no botão abaixo para escolher uma nova senha:</p>
  <%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  <p class="mt-4">Obrigado,</p>
  <p><%= mailer_name.capitalize %></p>
</div>
